<p class="intro">
  Welcome to your personal dictionary! You can add words using the "Add a Word" form. To see a word's definitions, or add a new definition, just click on the word in the list!
</p>

<div class="row">
  <div class="col-sm-6">
    <h2 class="words-title">Words</h2>

    <div class="search-container">
      <form id="search-box" action="/">
        <div class="form-group">
          <input type="text" name="search-term" class="form-control" placeholder="Search">

          <button id="search" type="submit" class="btn">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div>
      </form>
    </div>

    <% if @search_term %>
      <h4>Search Results:</h4>
      <% if @search_result == "Word not found" %>
        <p>Word not found: "<%= @search_term %>"</p>
      <% else %>
        <ul>
          <li>
            <a href="/word/<%= @search_term %>"><%= @search_term.capitalize %></a>
          </li>
        </ul>
      <% end %>
      <a href="/">Clear Search</a>
    <% else %>
      <ul>
        <% @word_list.each do |word| %>
        <li>
          <a href="/word/<%= word %>"><%= word.capitalize %></a>
        </li>
        <% end %>
      </ul>

      <% unless @word_list.empty? %>
        <p><a href="/clear_all">Clear Dictionary</a></p>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <h3>Add a Word</h3>

    <form action="/" method="post">
      <div class="form-group">
        <label for="term">Word:</label>
        <input id="term" type="text" name="term" class="form-control">
      </div>

      <div class="form-group">
        <label for="definition">Definition (Optional):</label>
        <input id="definition" type="text" name="definition" class="form-control">
      </div>

      <button type="submit" class="btn word-submit">Add!</button>

      <% if @blank %>
        <span class="error">Please Enter a Word</span>
      <%end%>
    </form>
  </div>
</div>
